
body {
    background: #f4f4f4;
    font-family: "Times New Roman";
    color: #000;
  }

  .page-wrapper {
    display: flex;
    max-width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  /* ID Card Form */
  
  h1, form {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  form div {
    padding-top: 1rem;
  }
  
  form div:last-child {
    padding-bottom: 1rem;
  }

  input {
    display: inline-block;
    padding: 0.3rem;
    margin: 0.3rem;
  }
  
  button {
    outline: none;
    border: none;
    border-radius: 0.3rem;
    padding: 1rem;
    margin-top: 0.5rem;

    background: #576E9C;
    color: #fff;
  }
  
  button:hover {
    background: #51658f;
  }
  
  

  /* ID Card */
  #idCard {
    position: relative;
    font-family: "Indie Flower";
    background: #D6E8DB;
    border: 5px solid black;
    height: 14em;
    width: 25em;
    margin: 3rem auto;
    border-radius: 2rem;
  }

  img {
    width: 90px;
    height: 90px;
    float: left;
  }
  
  #postFullName {
    font-size: 2rem;
    float: right;
    margin-right: 4.5rem;
    margin-top: 1.7rem;
  }

  .info {
      position: absolute;
      bottom: 0;
      left: 1rem;
  }
  
  @media screen and (max-width: 775px) {
    .page-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    #idCard {
      height: 15em;
    }
  }